@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text-color: #ff0000;
  --secondary-text-color: #8d8c8c;
  --third-text-color: #fff;
  --primary-color: #ff0000;
  --accent-color: #ffc400;
}
